spring.application.name=project

spring.datasource.url='URL_DATABASE'?allowPublicKeyRetrieval=true&useSSL=false
spring.datasource.username='USERNAME'
spring.datasource.password='PASSWORD'

spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQLDialect
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true

jwt.secret=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJOZ3V5ZW4gVmFuIEEiLCJyb2xlIjoiQURNSU4iLCJpYXQiOjE3NDc3OTY4NjMsImV4cCI6MTc0NzgwMDQ2M30.z-ZiwafnrRoVRUiiY9KWS9TzoYV_zcPmk-Zt_V-f0q8
jwt.expiration=3600000

